.trigger {
    padding: 0 3px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
    position: absolute;
    background-color: #fff;
    color: #8c8c8c;
    left: 0;
    top: 50%;
    height: 60px;
    width: 20px;
    transform: perspective(11px) rotateY(4deg);
}

.trigger:hover {
    color: #1890ff;
}

.logo {
    height: 64px;
    margin-bottom: 50px;
    margin-top: 30px;
}
.logo-wrapper {
    height: inherit;
    overflow: hidden;
}

.ant-layout-sider-collapsed .logo-wrapper {
    width: 37px;
    height: 36px;
    margin: 19px 17px 18px 18px;
}

.ant-layout-sider-dark .logo-wrapper {
    margin: 0px 17px 0px 18px;
}
.ant-layout-sider-dark .logo-wrapper img {
    transition: all 0.4s ease-in-out;
}

.ant-layout-sider-collapsed .logo-wrapper img {
    transition: all 0.1s ease-in-out;
    transform: translateX(-98px);
}

.ant-layout-sider-dark .logo-wrapper,
.ant-layout-sider-collapsed .logo-wrapper {
    overflow: hidden;
    padding-bottom: 2px;
}

.ant-layout.background-img {
    background-image: url(/images/background_img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.ant-layout {
    background: initial;
}

.ant-menu-item:last-child {
    position: absolute;
    bottom: 0;
}

.sider-style {
    background-color: #fff;
}

.ant-layout-header {
    background: inherit;
    line-height: 0%;
}
